/*AUTOR: FERNANDO MANUEL AVILA CATAÑO*/
/*@import url('../fonts/FjallaOne-Regular.ttf');*/
.colorBorrar{
  color: #FF0000;
  text-shadow: 2px 2px 11px rgba(150, 150, 150, 1);
}
.colorErrorValidador{
  color: #FF0000;
}
.errorStakTamano{
  font-size: 70%;
}
.colorEditar{
  color: #01DFD7;
  text-shadow: 2px 2px 11px rgba(150, 150, 150, 1);
}
.colorGrupos{
  color: #FFBF00;
  text-shadow: 2px 2px 11px rgba(150, 150, 150, 1);
}
.colorRetroAlimentacion{
  color: #0080FF;
  text-shadow: 2px 2px 11px rgba(150, 150, 150, 1);
}
.colorCompletado{
  margin-top: 15%;
  font-size: 600%;
  color: #04B404;
  text-shadow: 2px 2px 11px rgba(150, 150, 150, 1);
}
.textoopciones {
  margin-left: 2%;
  margin-right: 2%;
}
.medalla{
  font-size: 100%;
}
/* SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* SWITCH*/
.pulse-header {
  height: 80px;
  min-height: 60px;
  max-height: 80px;
  background-color: #ffffff;
  padding: 13px 15px;
}
.pulse-header .navbar-nav-left {
  margin-left: 20px;
}
.pulse-header .nav > .nav-item {
  margin-right: 20px;
}
.pulse-header .nav > .nav-item > a {
  position: relative;
}
.navbar img {
  margin:0px auto;
  display:block;
}
.sombranav {
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.27);
  box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.27);
  margin-bottom: 1%;
}
.navbar-light .navbar-brand {
  color: #A4A4A4;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.login-card{
  margin-top: 5%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  overflow-x: hidden;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
}
html {
  height: 100%;
  box-sizing: border-box;
}
footer .footer-copyright {
  -webkit-box-shadow: 0px 3px 5px 8px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 3px 5px 8px rgba(0,0,0,0.22);
  box-shadow: 0px 3px 5px 8px rgba(0,0,0,0.22);
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: 	#000000;
  /*  background-color: rgba(51, 51, 51, 0.08);*/
  background-color: #f8f9fa!important;
}
.amber-text {color: 	#000000;}
.titulosistema{
  margin-top: 5%;
  color:#FF8000;
  text-shadow: 1px 1px 2px #000000;
}
/*COLRO BOTON NARANJA*/
.btn-naranja {
  color: #FFFFFF;
  background-color: #F36B39;
  border-color: #DB6134;
}

.btn-naranja:hover,
.btn-naranja:focus,
.btn-naranja:active,
.btn-naranja.active,
.open .dropdown-toggle.btn-naranja {
  color: #FFFFFF;
  background-color: #D95A2B;
  border-color: #DB6134;
}

.btn-naranja:active,
.btn-naranja.active,
.open .dropdown-toggle.btn-naranja {
  background-image: none;
}

.btn-naranja.disabled,
.btn-naranja[disabled],
fieldset[disabled] .btn-naranja,
.btn-naranja.disabled:hover,
.btn-naranja[disabled]:hover,
fieldset[disabled] .btn-naranja:hover,
.btn-naranja.disabled:focus,
.btn-naranja[disabled]:focus,
fieldset[disabled] .btn-naranja:focus,
.btn-naranja.disabled:active,
.btn-naranja[disabled]:active,
fieldset[disabled] .btn-naranja:active,
.btn-naranja.disabled.active,
.btn-naranja[disabled].active,
fieldset[disabled] .btn-naranja.active {
  background-color: #F36B39;
  border-color: #DB6134;
}

.btn-naranja .badge {
  color: #F36B39;
  background-color: #FFFFFF;
}
/*FIN COLRO BOTON NARANJA*/

.menus{
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
}
.textotitulo{
  margin-left: 35%;
  margin-top: -10%;
  font-size: 120%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2%;
}
.coloriconosmenu{
  color: #f58220;
  text-shadow: 2px 2px 0px #800000;
  margin-bottom: 4%;
  /*  text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.64);*/
}
.coloriconosmenu2{
  color: #bababa;
  text-shadow: 2px 2px 0px #800000;
  /*  text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.64);*/
}
.linkmenu{
  color: black;
}
.linkmenu:hover{
  color: black;
  text-decoration: none;
}
.tamanoiconos{
  font-size: 400%;
}
/* COLOR ICONOS*/
.colorError{
  color : red;
}
.colorAdvertencia{
  color : yellow;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}
/* FIN COLOR ICONOS*/
.sombrapaneles{
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
}
.alertasistema{
  margin-top: -50px;
  margin-bottom: 0;
}
.coloriconosmenu3{
  color: #f58220;
  font-size: 500%;
  text-shadow: 2px 2px 0px #800000;
  /*  text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.64);*/
}
.coloriconosmenu4{
  color: #f58220;
  font-size: 250%;
  text-shadow: 2px 2px 0px #800000;
  /*  text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.64);*/
}
.textotitulo2{
  /*margin-left: 25%;*/
  font-size: 150%;
  /*text-align: center;*/
  font-weight: bold;
}
.pdfobject-container { height: 650px;}
.pdfobject { border: 1px solid #666; }
@media only screen and (max-height: 700px) {
  .pdfobject-container { height: 450px;}
  .pdfobject { border: 1px solid #666; }
}
.sombrapanel{
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.38);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.38);
}
.formulariolabel{
  font-weight: bold;
}
.tablaletradocentes{
  font-size: 80%;
}
.tablaCargarAlumnos{

}
.cardMensajes{
  -webkit-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.32);
  -moz-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.32);
  box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.32);
}
.scrolleador{
  height: 600px;
  overflow-y: scroll;
}
@media only screen and (max-width: 800px) {
  .scrolleador{
    height: 400px;
    overflow-y: scroll;
  }
}
#top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  /*background: rgba(0, 0, 0, 0.7);*/
  background:   #F36B39;

  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#top i{
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#top:hover{
  background:#B45F04;
}
#top:hover i{
  color: #fff;
  top: 5px;
}
/*---------SEGUIMIENTO---------*/
/*-logins-*/
canvas {
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.textoNegritas{
  font-weight: bold;
}
.textoNegritas2{
  font-weight: bold;
  margin-left: -20%;
}
.CirculoPregunta{
  margin-top: -1%;
  font-size: 50%;
}
.textopreguntas{
  margin-left: 2%;
  margin-right: 2%;
  font-weight: bold;
}
.botonEnviar{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.progreso {
  height: 25px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.progreso span {
  display: block;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.progreso span.is-active {
  background: rgba(0, 0, 0, 0.4);
  background: #FF8F00;
}
.abc-radio label::after {
  background-color: #f58220;
  /*margin-left: 0px;*/
  text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.abc-radio label::before {
  /*margin-left: 0px;*/
  text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.panelCompletado{
  z-index: -1;
  margin-top: 15%;
}
.escudo
{
  margin-top:20%;
}
.cuerpo{
  height: 700px;
}
@media only screen and (max-width: 800px) {
  .panelCompletado{
    margin-top: 2%;
    z-index: -1;
  }
  .colorCompletado{
    margin-top: 2%;
    font-size: 600%;
    color: #04B404;
    text-shadow: 2px 2px 11px rgba(150, 150, 150, 1);
  }
  .escudo
  {
    margin-top:2%;
  }
  .cuerpo{
    height: 100%;
  }
}
